.panel-vertical-edge {
  cursor: row-resize;
}

.panel-vertical-edge--top {
  border: 1px solid grey;
}

.panel-vertical-edge--bottom {
  border: 1px solid lightgrey;
}

.panel-horizontal-edge--left {
  border: 1px solid grey;
}

.panel-horizontal-edge--right {
  border: 1px solid lightgrey;
}

.panel-horizontal-edge {
  cursor: col-resize;
}
