*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 10px;
  color: #081f2c;
  font: 400 13px/20px "Source Sans Pro", sans-serif;
}

svg {
  display: block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.select {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 320px;
}
.select:focus {
  outline: 0;
}
.select:focus .selection {
  box-shadow: 0 0 1px 1px #00a9e0;
}

.label {
  cursor: inherit;
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

.selection {
  position: relative;
  padding: 5px;
  border: 1px solid #ddd;
  background: #fff;
}

.value {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
}

.multiple {
  padding-right: 30px;
  margin-right: 5px;
  background: #d9f2fb;
  color: #00a9e0;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 10px;
  font-size: 10px;
  cursor: pointer;
}

.placeholder {
  padding: 5px 10px;
  color: #898989;
}

.arrow {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  padding: 10px;
  font-size: 10px;
  color: #898989;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: solid #ddd;
  border-width: 0 1px;
  background: #fff;
}

.option {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.option.selected {
  border: 1px solid #00a9e0;
  margin: -1px -1px 0;
  background: #d9f2fb;
}
.option.focused {
  background: #f5f5f5;
}

.checkbox {
  content: "";
  vertical-align: top;
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 2px;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin: 2px 12px 0 0;
  color: #fff;
  font-size: 10px;
}
.selected .checkbox {
  border-color: #007da6;
  background: #00a9e0;
}
