.App {
  display: flex;
  flex-direction: row;
  height: 90vh;
  padding: 1em;
}

#mobile-popup-root {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 400px) {
  #mobile-popup-root {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    margin: 0;
    display: flex;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
  }
  .mobile-popup {
    opacity: 1;
    padding: 2em;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    line-height: 2;
  }
  .floating-test-input-box-container {
    display: none;
  }
}

button {
  cursor: pointer;
}

/* "Switch" CSS because they are neat */

.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 50px;
  height: 25px;
  background: blue;
  border-radius: 50px;
  position: relative;
  transition: background-color 0.2s;
}

.react-switch-label .react-switch-button {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22.5px;
  height: 22.5px;
  border-radius: 22.5px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 30px;
}
